@import 'tailwindcss';
@import 'tailwindcss-primeui';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 12px;
  line-height: 1.25;
  font-family:
    'e-Ukraine', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  user-select: none;
  -webkit-app-region: drag;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

i,
a,
main,
aside,
button,
input {
  -webkit-app-region: no-drag;
}

svg {
  display: block;
}

* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: none;
}

*:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/* Scrollbar on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 1px;
  border: 1px solid #282832;
}
